nav{


background-color: #2a2a72;
background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}


.und:hover {
    text-decoration: underline;
    text-underline-offset: 0.65em;
    opacity: 0.6;
    transition: linear;
}
